/* Marigold Band Website Stylesheet */
/* -------------------- Navbar -------------- */

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
  }

.navbar {
    background-color:black;
    height: 90px;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    margin-left: 20px;
}

.nav-link {
    font-size: 20px;
    margin-right: 50px;

}

.navbar-nav{
    margin-left: auto;
}

/* -------------------- End Navbar -------------- */

/* body styles */
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
